<!-- Customer Details -->

<div class="card-header">

    <!-- Buttons -->

    @if (isAdmin) {
        <div class="row">
            <div class="col">
                <label for="uploadImage" class="btn btn-secondary">
                    <i class="ph ph-plus-circle"></i>
                    <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                    Editar imagen
                </label>
            </div>

            <div class="col">
                <button type="button" class="btn btn-secondary" style="float: right" (click)="updateCustomer()">
                    <i class="ph ph-plus-circle"></i>
                    Editar datos
                </button>
            </div>
        </div>
    }
</div>

<br>

<div class="card-body">
    <div class="row">

        <!-- Customer Image -->

        <div class="col-md-5">
            <div class="card card-image">
                <div class="card-body-customer text-center">
                    <img src="{{ customer.image.image !== '' ? customer.image.image : defaultImage }}"
                    class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

        <ng-template #defaultImage>
            <img src="assets/images/default-image.png" alt="..." class="default-image">
        </ng-template>

        <!-- Customer Data -->

        <div class="col-md-7">
            <div class="card card-body-customer">
                <div class="customer-details">
                    <table class="table customer-table">
                        <thead class="customer-title">
                            <tr>
                                <th class="col-md-6 customer-title-text">
                                    <label class="label-title">Información personal</label>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="2" class="td-data">
                                    <label class="label-name">Nombre:</label>
                                    <div class="label-data-container">
                                        <label class="label-data">{{ customer.name + " " + customer.surname }}</label>
                                        <div class="hr-container">
                                            <hr>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="td-data">
                                    <label class="label-rfc">RFC:</label>
                                    <div class="label-data-container">
                                        <label class="label-data">{{ customer.rfc }}</label>
                                        <div class="hr-container">
                                            <hr>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="td-data">
                                    <label class="label-mail">Correo electrónico:</label>
                                    <div class="label-data-container">
                                        <label class="label-data">{{ customer.mail }}</label>
                                        <div class="hr-container">
                                            <hr>
                                        </div>
                                    </div>
                                </td>
                            </tr>
    
                            <tr>
                                <td colspan="2" class="td-data">
                                    <label class="label-region">Región:</label>
                                    <div class="label-data-container">
                                        <label class="label-data">{{ region.region }}</label>
                                        <div class="hr-container">
                                            <hr>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="td-data">
                                    <label class="label-address">Dirección:</label>
                                    <div class="label-data-container">
                                        <label class="label-data">{{ customer.address }}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal form -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Customer form -->

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">

                        <!-- Name -->

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name">Nombre <span class="color-red">*</span> </label>
                                <input type="text" class="form-control" formControlName="name" id="name"
                                    placeholder="Nombre del cliente..." [ngClass]="{'is-invalid': form.controls['name'].errors && submitted}" />
                                <div *ngIf="form.controls['name'].errors && submitted">
                                    <small class="input-error-message">Por favor ingresa un nombre válido</small>
                                </div>
                            </div>
                        </div>

                        <!-- Surname -->

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="surname">Apellidos <span class="color-red">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="surname" id="surname"
                                    placeholder="Apellidos del cliente..." [ngClass]="{'is-invalid': form.controls['surname'].errors && submitted}" />
                                <div *ngIf="form.controls['surname'].errors && submitted">
                                    <small class="input-error-message">Por favor ingresa apellidos válidos</small>
                                </div>
                            </div>
                        </div>

                        <!-- RFC -->

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="rfc">RFC <span class="color-red">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="rfc" id="rfc"
                                    placeholder="RFC del cliente..." [ngClass]="{'is-invalid': form.controls['rfc'].errors && submitted}" />
                                <div *ngIf="form.controls['rfc'].errors && submitted">
                                    <small class="input-error-message">Por favor ingresa un rfc válido</small>
                                </div>
                            </div>
                        </div>

                        <!-- Mail -->

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="mail">Correo electrónico <span class="color-red">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="mail" id="mail"
                                    placeholder="Correo electrónico del cliente..." [ngClass]="{'is-invalid': form.controls['mail'].errors && submitted}" />
                                <div *ngIf="form.controls['mail'].errors && submitted">
                                    <small class="input-error-message">Por favor ingresa un correo electrónico válido</small>
                                </div>
                            </div>
                        </div>

                        <!-- Region_id -->

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="region_id">Región <span class="color-red">*</span>
                                </label>
                                <select class="form-select" formControlName="region_id" id="region_id" [ngClass]="{'is-invalid':form.controls['region_id'].errors && submitted}">
                                    <option [ngValue]="null" hidden>
                                        Selecciona una región...
                                    </option>
                                    <ng-container *ngFor="let region of regions">
                                        <option *ngIf="region.status == 1" [ngValue]="region.region_id">
                                            {{ region.region }}
                                        </option>
                                    </ng-container>
                                </select>
                                <div *ngIf="form.controls['region_id'].errors && submitted">
                                    <small class="input-error-message">Por favor selecciona una región válida</small>
                                </div>
                            </div>
                        </div>

                        <!-- Address -->

                        <div class="mb-3">
                            <label for="address">Dirección <span class="color-red">*</span>
                            </label>
                            <textarea rows="2" class="form-control" formControlName="address" id="address"
                                placeholder="Dirección del cliente..." [ngClass]="{'is-invalid': form.controls['address'].errors && submitted}">
                            </textarea>
                            <div *ngIf="form.controls['address'].errors && submitted">
                                <small class="input-error-message">Por favor ingresa una dirección válida</small>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->

                    <div class="form-button">

                        <button type="submit" class="btn btn-secondary btn-new">
                            Guardar cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>