<div class="container" style="margin: 40px 0px;">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div style="margin-top: 10px;margin-bottom:-90px;"></div>
            </div>

            <div class="d-flex justify-content-center form_container">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon [icon]="usernameIcon"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username" formControlName="username" required>
                    </div>
                
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password" required>
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" class="btn btn-secondary btn-new" [disabled]="loginForm.invalid || showLoading" name="button">
                            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="showLoading">Cargando...</span>
                            <span *ngIf="!showLoading">Iniciar sesión</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>