<body>
    <header class="py-5 bg-image-full mt-5" style="background-image: url('assets/images/home_images/family.jpg')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="assets/images/home_images/logo_flowermart.jpeg" alt="..." />
            <h1 class="text-white fs-3 fw-bolder">Flowermart</h1>
            <p class="text-white-50 mb-0">Florece en tu mejor versión</p>
        </div>
    </header>

    <!-- Content section-->

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>La tecnología de un sueño</h2>
                    <p class="lead">El celular del futuro es tu presente</p>
                    <p class="mb-0">Explora la innovación sin límites con nuestra exclusiva gama de celulares. Desde
                        tecnología de vanguardia hasta un diseño exquisito, nuestras colecciones te ofrecen un estilo
                        único para cada día, fusionando el lujo con la funcionalidad en cada detalle.</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="py-5 bg-image-full" style="background-image: url('assets/images/home_images/iphones.jpeg')">
        <div style="height: 20rem"></div>
    </div>

    <table class="sections-table">
        <tr>
            <td style="padding-right: 25px; padding-bottom: 25px; padding-top: 25px;">

                <!-- Content section-->

                <section class="py-5">
                    <div class="container my-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <h2>Un estilo cada día de la semana</h2>
                                <p class="lead">Un mundo de posibilidades</p>
                                <p class="mb-0">Descubre la esencia de la elegancia cotidiana con nuestras colecciones
                                    exclusivas,
                                    diseñadas para destacar tu estilo único en cada momento. En nuestra marca de ropa,
                                    encontrarás
                                    la inspiración perfecta para un look distinto y sofisticado cada día.</p>
                            </div>
                        </div>
                    </div>

                    <div class="py-5 bg-image-full mb-2" style="background-image: url('assets/images/home_images/bag.avif')">
                        <div style="height: 20rem"></div>
                    </div>
                </section>
            </td>

            <td style="padding-left: 25px; padding-bottom: 25px; padding-top: 25px;">

                <!-- Content section-->

                <section class="py-5">

                    <!-- Imagen ropa -->

                    <div class="py-5 bg-image-full mb-2" style="background-image: url('assets/images/home_images/clothes.avif')">
                        <div style="height: 20rem"></div>
                    </div>

                    <!-- Descripción -->

                    <div class="container my-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <h2>El lujo en un solo lugar</h2>
                                <p class="lead">Sólo lo mejor</p>
                                <p class="mb-0">Sumérgete en un mundo de exclusividad y elegancia en nuestra boutique,
                                    donde solo las mejores marcas como Louis Vuitton, Dior, Rolex y más. Cada artículo
                                    es cuidadosamente seleccionado para ofrecerte lo último en moda, lujo y distinción
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </td>
        </tr>
    </table>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>